

:root {

  /* SIZE */
  --space-xs: 4px;

  font-family: "Space Grotesk", sans-serif, monospace;

  color: #001011;
  /* COLOR PINK */
  --pink-lavender-50: #FFF4FE;
  --pink-lavender-100: #FEE9FC;
  --pink-lavender-200: #FDD1FA;
  --pink-lavender-300: #FAADF0;
  --pink-lavender-400: #F679E5;
  --pink-lavender-500: #EB4AD5;
  --pink-lavender-600: #CF2AB5;
  --pink-lavender-700: #AC1F93;
  --pink-lavender-800: #8C1C76;
  --pink-lavender-900: #731C61;
  --pink-lavender-950: #4C063C;

  /* COLOR GREEN */
  --green-atlantis-50:   #F5FEE7;
  --green-atlantis-100:   #E8FCCB;
  --green-atlantis-200:   #D1FA9C;
  --green-atlantis-300:   #B2F363;
  --green-atlantis-400:   #93E734;
  --green-atlantis-500:   #7CDB16;
  --green-atlantis-600:   #58A40C;
  --green-atlantis-700:   #437D0E;
  --green-atlantis-800:   #386311;
  --green-atlantis-900:   #315314;
  --green-atlantis-950:   #162E05;


  /* COLOR PURPLE */
  --purple-heart-50: #F5F2FF;
  --purple-heart-100: #EEE7FF;
  --purple-heart-200: #DFD3FF;
  --purple-heart-300: #C7AFFF;
  --purple-heart-400: #AE82FF;
  --purple-heart-500: #964FFF;
  --purple-heart-600: #8B2BFC;
  --purple-heart-700: #7516DB;
  --purple-heart-800: #6814C3;
  --purple-heart-900: #57139F;
  --purple-heart-950: #35096C;
  --purple-heart-black: #0b0214;
}

body {
  margin: 0;
  background-color: var(--purple-heart-50);
  color: var(--green-atlantis-950);
}

a:focus-visible {
  outline-color: var(--green-atlantis-600);
  /* outline-color: initial; */
  outline-style: auto;
  outline-width: initial;
  /* border: 2px solid var(--purple-heart-500); */
  /* border-radius: var(--space-xs); */
}

.container__landing {
  /* relative h-screen flex flex-col items-center justify-center */
  position: relative;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing__absolute {
  /* h-full absolute t-0 */
  z-index: -1;
  height: 98vh;
  position: absolute;
  top: 0;
}

.navbar__main {
  /* container h-16 flex items-center justify-between w-full absolute top-0 bg-transparent z-10 */
  /* height: 10em; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 10;
  padding: calc(var(--space-xs) * 3) 0;
}

.navbar__main > a:first-child {
  margin-left: calc(var(--space-xs) * 5);
}

.navbar__main > .nav__menu {
  margin-right: calc(var(--space-xs) * 5);
}

.nav__menu {
  /* flex-none flex gap-4 h-full flex items-center */
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
  justify-content: space-around;
  font-size: 4rem;
}

.nav__menu a {
  font-weight: bold;
  letter-spacing: .4px;
}

.header__transparent {
  /* text-transparent bg-gradient-to-r from-atlantis-400 to-heart-500 bg-clip-text font-bold text-lg */
  color: transparent;
  /* background-image: linear-gradient(var(--purple-heart-400), var(--green-atlantis-400), 270deg); */
  background-image: linear-gradient(to top, var(--green-atlantis-400), var(--purple-heart-400));
  background-clip: text;
  z-index: 10;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.link__underline {
  /* transition-colors duration-100 text-atlantis-500 no-underline relative link__underline */
  color: inherit;
  text-decoration: none;
  position: relative;
}

.link__underline:hover {
 /* box-shadow: 0 0 2px 7px rgba(0,0,0,0.1); */
 transition: all .3s;
}

.link__underline::after {
  content: '';
  display: block;
  height: .1rem;
  width: 100%;
  position: absolute;
  bottom: -.1rem;
  z-index: -1;
  transition: all .2s;
}

.link__underline--purple:hover {
  color: black;
}

.link__underline--purple::after {
  background-color: var(--purple-heart-400);
}

.link__underline--purple:hover::after {
  background-color: var(--purple-heart-400);
}

.link__underline--pink:hover {
  color: black;
}

.link__underline--pink::after {
  background-color: var(--pink-lavender-400);
}

.link__underline--pink:hover::after {
  background-color: var(--pink-lavender-400);
}

.link__underline--green:hover {
  color: black;
}

.link__underline--green::after {
  background-color: var(--green-atlantis-400);
}

.link__underline--green:hover::after {
  background-color: var(--green-atlantis-400);
}

.link__underline:hover::after {
  height: calc(100%);
  width: calc(100% + .7rem);
  transform: translateX(-.25rem) skew(-7.77deg);
}

.from-atlantis-400 {
  background-image: linear-gradient(to top, var(--green-atlantis-400), var(--purple-heart-400));
}

.to-heart-500 {
  background-image: linear-gradient(to top, var(--green-atlantis-400), var(--purple-heart-400));
}

.text-atlantis-50 {
  color: var(--green-atlantis-50);
}

.bg-atlantis-50 {
  background-color: var(--green-atlantis-50);
}

.text-atlantis-100 {
  color: var(--green-atlantis-100);
}

.bg-atlantis-100 {
  background-color: var(--green-atlantis-100);
}

.text-atlantis-200 {
  color: var(--green-atlantis-200);
}

.bg-atlantis-200 {
  background-color: var(--green-atlantis-200);
}

.text-atlantis-300 {
  color: var(--green-atlantis-300);
}

.bg-atlantis-300 {
  background-color: var(--green-atlantis-300);
}

.text-atlantis-400 {
  color: var(--green-atlantis-400);
}

.bg-atlantis-400 {
  background-color: var(--green-atlantis-400);
}

.text-atlantis-500 {
  color: var(--green-atlantis-500);
}

.bg-atlantis-500 {
  background-color: var(--green-atlantis-500);
}

.text-atlantis-600 {
  color: var(--green-atlantis-600);
}

.bg-atlantis-600 {
  background-color: var(--green-atlantis-600);
}

.text-atlantis-700 {
  color: var(--green-atlantis-700);
}

.bg-atlantis-700 {
  background-color: var(--green-atlantis-700);
}

.text-atlantis-800 {
  color: var(--green-atlantis-800);
}

.bg-atlantis-800 {
  background-color: var(--green-atlantis-800);
}

.text-atlantis-900 {
  color: var(--green-atlantis-900);
}

.bg-atlantis-900 {
  background-color: var(--green-atlantis-900);
}

.text-atlantis-950 {
  color: var(--green-atlantis-950);
}

.bg-atlantis-950 {
  background-color: var(--green-atlantis-950);
}


.text-purple-heart-50 {
  color: var(--purple-heart-50)
}
.text-purple-heart-100 {
  color: var(--purple-heart-100)
}
.text-purple-heart-200 {
  color: var(--purple-heart-200)
}
.text-purple-heart-300 {
  color: var(--purple-heart-300)
}
.text-purple-heart-400 {
  color: var(--purple-heart-400)
}
.text-purple-heart-500 {
  color: var(--purple-heart-500)
}
.text-purple-heart-600 {
  color: var(--purple-heart-600)
}
.text-purple-heart-700 {
  color: var(--purple-heart-700)
}
.text-purple-heart-800 {
  color: var(--purple-heart-800)
}
.text-purple-heart-900 {
  color: var(--purple-heart-900)
}
.text-purple-heart-950 {
  color: var(--purple-heart-950)
}
.bg-purple-heart-50 {
  background-color: var(--purple-heart-50)
}
.bg-purple-heart-100 {
  background-color: var(--purple-heart-100)
}
.bg-purple-heart-200 {
  background-color: var(--purple-heart-200)
}
.bg-purple-heart-300 {
  background-color: var(--purple-heart-300)
}
.bg-purple-heart-400 {
  background-color: var(--purple-heart-400)
}
.bg-purple-heart-500 {
  background-color: var(--purple-heart-500)
}
.bg-purple-heart-600 {
  background-color: var(--purple-heart-600)
}
.bg-purple-heart-700 {
  background-color: var(--purple-heart-700)
}
.bg-purple-heart-800 {
  background-color: var(--purple-heart-800)
}
.bg-purple-heart-900 {
  background-color: var(--purple-heart-900)
}
.bg-purple-heart-950 {
  background-color: var(--purple-heart-950)
}



/* HELPERS */
/* focus:ring-2 focus:ring-indigo-300 */
.display-flex {
  display: flex;
}
